In [1]:
import pandas as pd
import numpy as np
import json


pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', None)     # Show all rows
pd.set_option('display.max_colwidth', None) # Do not truncate column content
pd.set_option('display.width', 1000)        # Prevent wrapping of wide DataFrames

### for english questionnaire

In [2]:
f_path = 'C:/Users/511232/Desktop/DSS/Consolidated questionnaires'
file='Somalia_Education_en.xlsx'

sheets_dict = pd.read_excel(f_path+'/'+file, sheet_name=None)  # Reads all sheets at once
print(sheets_dict.keys())

dict_keys(['Education_1_a', 'Education_1_b', 'Education_2_a', 'Education_2_b', 'Education_2_c', 'Education_3', 'Education_4', 'Education_5', 'Education_6'])

In [3]:
'''loop through the sheets, isolate the row where theres source, remove it from the dataframe, reshape the dataframe
repeat the source row equivalent to the non-reshaped dataframe size, append to the df_list and finally concatenate into a single file'''

df_list=[]

for key, df in sheets_dict.items():
    
    print(f'processing sheet {key}')
    #read in the dataframe
    df=sheets_dict[key]

    #clean it from the null rows
    df1 = df.dropna(how='all')

    #isolate the row that contains source
    source_row = df1[df1.apply(lambda row: row.astype(str).str.contains('source', case=False)).any(axis=1)]

    #remove it from main DataFrame
    df_cleaned = df1.drop(source_row.index)

    #get the years column
    year_cols = [c for c in df_cleaned.columns if str(c).isdigit()]
    # year_cols = [c for c in df_cleaned.columns if isinstance(c, int)]
    print(f'years columns: {year_cols}')

    #reshape into long
    df_long = df_cleaned.melt(
        id_vars=[c for c in df_cleaned.columns if c not in year_cols],
        value_vars=year_cols,
        var_name='Year',
        value_name='Value'
    )

    #repeat years and source as much as the dataframe rows
    year_repeated = []
    source_repeated = []

    for year in year_cols:
        year_str = str(year)
        year_repeated.extend([year_str] * df_cleaned.shape[0])
        source_repeated.extend([source_row.iloc[0][year]] * df_cleaned.shape[0])

    # Create a new DataFrame with these repeated values
    source_column_df = pd.DataFrame({
        'Year_source': year_repeated,
        'Source': source_repeated
    })

    # Concatenate with df_long
    df_final = pd.concat([df_long.reset_index(drop=True), source_column_df], axis=1)
    df_final = df_final.drop('Year_source', axis=1)
    print('finished processing')
    print(df_final.head(3), '\n')

    #append to df_list
    df_list.append(df_final)

    consolidated_data=pd.concat(df_list, ignore_index=True)
    # consolidated_data=consolidated_data.dropna(subset=['Value'])
    
    consolidated_data.to_excel('consolidated_data_en.xlsx', index=False)

processing sheet Education_1_a
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
                                           Indicator  Country        Nationality         Sex  Year Value Source
0  Net enrolment rate in primary education (percent)  Somalia  Nationality Total        Male  2010     1      a
1  Net enrolment rate in primary education (percent)  Somalia  Nationality Total      Female  2010   NaN      a
2  Net enrolment rate in primary education (percent)  Somalia  Nationality Total  Both sexes  2010   NaN      a

processing sheet Education_1_b
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
                                             Indicator  Country        Nationality         Sex  Year Value Source
0  Net enrolment rate in secondary education (percent)  Somalia  Nationality Total        Male  2010     1      a
1  Net enrolment rate in secondary education (percent)  Somalia  Nationality Total      Female  2010   NaN      a
2  Net enrolment rate in secondary education (percent)  Somalia  Nationality Total  Both sexes  2010   NaN      a

processing sheet Education_2_a
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
                       Indicator  Country  Sector Education level        Nationality         Sex  Year Value Source
0  Pupil-teacher ratio (percent)  Somalia  Public         Primary  Nationality Total        Male  2010     1      a
1  Pupil-teacher ratio (percent)  Somalia  Public         Primary  Nationality Total      Female  2010   NaN      a
2  Pupil-teacher ratio (percent)  Somalia  Public         Primary  Nationality Total  Both sexes  2010   NaN      a

processing sheet Education_2_b
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
                       Indicator  Country   Sector Education level        Nationality         Sex  Year Value Source
0  Pupil-teacher ratio (percent)  Somalia  Private         Primary  Nationality Total        Male  2010     1      a
1  Pupil-teacher ratio (percent)  Somalia  Private         Primary  Nationality Total      Female  2010   NaN      a
2  Pupil-teacher ratio (percent)  Somalia  Private         Primary  Nationality Total  Both sexes  2010   NaN      a

processing sheet Education_2_c
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
                       Indicator  Country        Sector Education level        Nationality         Sex  Year Value Source
0  Pupil-teacher ratio (percent)  Somalia  Sector Total         Primary  Nationality Total        Male  2010     1      a
1  Pupil-teacher ratio (percent)  Somalia  Sector Total         Primary  Nationality Total      Female  2010   NaN      a
2  Pupil-teacher ratio (percent)  Somalia  Sector Total         Primary  Nationality Total  Both sexes  2010   NaN      a

processing sheet Education_3
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
              Indicator  Country        Nationality         Sex  Year Value Source
0  Adult literacy rates  Somalia  Nationality Total        Male  2010     1      a
1  Adult literacy rates  Somalia  Nationality Total      Female  2010   NaN      a
2  Adult literacy rates  Somalia  Nationality Total  Both sexes  2010   NaN      a

processing sheet Education_4
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
              Indicator  Country        Nationality         Sex  Year Value Source
0  Youth literacy rates  Somalia  Nationality Total        Male  2010     1      a
1  Youth literacy rates  Somalia  Nationality Total      Female  2010   NaN      a
2  Youth literacy rates  Somalia  Nationality Total  Both sexes  2010   NaN      a

processing sheet Education_5
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
                                                                             Indicator  Country  Year Value Source
0  Expenditure on education as a percentage of total government expenditure  (percent)  Somalia  2010     1      a
1  Expenditure on education as a percentage of total government expenditure  (percent)  Somalia  2011     2      b
2  Expenditure on education as a percentage of total government expenditure  (percent)  Somalia  2012     3      c

processing sheet Education_6
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
                                                              Indicator  Country  Year Value Source
0  Government expenditure on education as a percentage of GDP (percent)  Somalia  2010     1      a
1  Government expenditure on education as a percentage of GDP (percent)  Somalia  2011     2      b
2  Government expenditure on education as a percentage of GDP (percent)  Somalia  2012     3      c

### for arabic questionnaire

In [4]:
f_path = 'C:/Users/511232/Desktop/DSS/Consolidated questionnaires'
file='Somalia_Education_ar.xlsx'

sheets_dict = pd.read_excel(f_path+'/'+file, sheet_name=None)  # Reads all sheets at once
print(sheets_dict.keys())

dict_keys(['Education_1_a', 'Education_1_b', 'Education_2_a', 'Education_2_b', 'Education_2_c', 'Education_3', 'Education_4', 'Education_5', 'Education_6'])

In [5]:
'''loop through the sheets, isolate the row where theres source, remove it from the dataframe, reshape the dataframe
repeat the source row equivalent to the non-reshaped dataframe size, append to the df_list and finally concatenate into a single file'''

df_list=[]

for key, df in sheets_dict.items():
    
    print(f'processing sheet {key}')
    #read in the dataframe
    df=sheets_dict[key]

    #clean it from the null rows
    df1 = df.dropna(how='all')

    #isolate the row that contains source
    source_row = df1[df1.apply(lambda row: row.astype(str).str.contains('المصدر', case=False)).any(axis=1)]

    #remove it from main DataFrame
    df_cleaned = df1.drop(source_row.index)

    #get the years column
    year_cols = [c for c in df_cleaned.columns if str(c).isdigit()]
    # year_cols = [c for c in df_cleaned.columns if isinstance(c, int)]
    print(f'years columns: {year_cols}')

    #reshape into long
    df_long = df_cleaned.melt(
        id_vars=[c for c in df_cleaned.columns if c not in year_cols],
        value_vars=year_cols,
        var_name='Year',
        value_name='Value'
    )

    #repeat years and source as much as the dataframe rows
    year_repeated = []
    source_repeated = []

    for year in year_cols:
        year_str = str(year)
        year_repeated.extend([year_str] * df_cleaned.shape[0])
        source_repeated.extend([source_row.iloc[0][year]] * df_cleaned.shape[0])

    # Create a new DataFrame with these repeated values
    source_column_df = pd.DataFrame({
        'Year_source': year_repeated,
        'Source': source_repeated
    })

    # Concatenate with df_long
    df_final = pd.concat([df_long.reset_index(drop=True), source_column_df], axis=1)
    df_final = df_final.drop('Year_source', axis=1)
    print('finished processing')
    print(df_final.head(3), '\n')

    #append to df_list
    df_list.append(df_final)

    consolidated_data=pd.concat(df_list, ignore_index=True)
    # consolidated_data=consolidated_data.dropna(subset=['Value'])
    
    consolidated_data.to_excel('consolidated_data_ar.xlsx', index=False)

processing sheet Education_1_a
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
                                                                   المؤشر   الدولة                        المواطنة        الجنس  Year Value Source
0  معدل الإلتحاق الصافي في مرحلة التعليم الإبتدائي (الأساسي) (نسبة مئوية)  الصومال  مجموع المواطنين وغير المواطنين         ذكور  2010     1      a
1  معدل الإلتحاق الصافي في مرحلة التعليم الإبتدائي (الأساسي) (نسبة مئوية)  الصومال  مجموع المواطنين وغير المواطنين         إناث  2010     1      a
2  معدل الإلتحاق الصافي في مرحلة التعليم الإبتدائي (الأساسي) (نسبة مئوية)  الصومال  مجموع المواطنين وغير المواطنين  كلا الجنسين  2010     1      a

processing sheet Education_1_b
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
                                                       المؤشر   الدولة                        المواطنة        الجنس  Year Value Source
0  معدل الإلتحاق الصافي في مرحلة التعليم الثانوي (نسبة مئوية)  الصومال  مجموع المواطنين وغير المواطنين         ذكور  2010     2      b
1  معدل الإلتحاق الصافي في مرحلة التعليم الثانوي (نسبة مئوية)  الصومال  مجموع المواطنين وغير المواطنين         إناث  2010     2      b
2  معدل الإلتحاق الصافي في مرحلة التعليم الثانوي (نسبة مئوية)  الصومال  مجموع المواطنين وغير المواطنين  كلا الجنسين  2010     2      b

processing sheet Education_2_a
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
                                      المؤشر   الدولة القطاع المرحلة التعليمية        الجنس  Year Value Source
0  معدل الطلاب إلى المدرسين (ات)(نسبة مئوية)  الصومال    عام           إبتدائي         ذكور  2010     3      c
1  معدل الطلاب إلى المدرسين (ات)(نسبة مئوية)  الصومال    عام           إبتدائي         إناث  2010     3      c
2  معدل الطلاب إلى المدرسين (ات)(نسبة مئوية)  الصومال    عام           إبتدائي  كلا الجنسين  2010     3      c

processing sheet Education_2_b
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
                                      المؤشر   الدولة القطاع المرحلة التعليمية        الجنس  Year Value Source
0  معدل الطلاب إلى المدرسين (ات)(نسبة مئوية)  الصومال    خاص           إبتدائي         ذكور  2010     4      d
1  معدل الطلاب إلى المدرسين (ات)(نسبة مئوية)  الصومال    خاص           إبتدائي         إناث  2010     4      d
2  معدل الطلاب إلى المدرسين (ات)(نسبة مئوية)  الصومال    خاص           إبتدائي  كلا الجنسين  2010     4      d

processing sheet Education_2_c
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
                                      المؤشر   الدولة         القطاع المرحلة التعليمية                        المواطنة        الجنس  Year Value Source
0  معدل الطلاب إلى المدرسين (ات)(نسبة مئوية)  الصومال  جميع القطاعات           إبتدائي  مجموع المواطنين وغير المواطنين         ذكور  2010     5     aa
1  معدل الطلاب إلى المدرسين (ات)(نسبة مئوية)  الصومال  جميع القطاعات           إبتدائي  مجموع المواطنين وغير المواطنين         إناث  2010     5     aa
2  معدل الطلاب إلى المدرسين (ات)(نسبة مئوية)  الصومال  جميع القطاعات           إبتدائي  مجموع المواطنين وغير المواطنين  كلا الجنسين  2010     5     aa

processing sheet Education_3
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
                                                                  المؤشر   الدولة                        المواطنة        الجنس  Year Value Source
0  معدل معرفة القراءة والكتابة للفئة العمرية 15 سنة وما فوق (نسبة مئوية)  الصومال  مجموع المواطنين وغير المواطنين         ذكور  2010     6     bb
1  معدل معرفة القراءة والكتابة للفئة العمرية 15 سنة وما فوق (نسبة مئوية)  الصومال  مجموع المواطنين وغير المواطنين         إناث  2010     6     bb
2  معدل معرفة القراءة والكتابة للفئة العمرية 15 سنة وما فوق (نسبة مئوية)  الصومال  مجموع المواطنين وغير المواطنين  كلا الجنسين  2010     6     bb

processing sheet Education_4
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
                                                             المؤشر   الدولة                        المواطنة        الجنس  Year Value Source
0  معدل معرفة القراءة والكتابة للفئة العمرية 15-24 سنة (نسبة مئوية)  الصومال  مجموع المواطنين وغير المواطنين         ذكور  2010     7      f
1  معدل معرفة القراءة والكتابة للفئة العمرية 15-24 سنة (نسبة مئوية)  الصومال  مجموع المواطنين وغير المواطنين         إناث  2010     7      f
2  معدل معرفة القراءة والكتابة للفئة العمرية 15-24 سنة (نسبة مئوية)  الصومال  مجموع المواطنين وغير المواطنين  كلا الجنسين  2010     7      f

processing sheet Education_5
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
                                                                            المؤشر   الدولة  Year Value Source
0  الإنفاق العام على التعليم (كنسبة مئوية من إجمالي الإنفاق الحكومي)  (نسبة مئوية)  الصومال  2010    66      t
1  الإنفاق العام على التعليم (كنسبة مئوية من إجمالي الإنفاق الحكومي)  (نسبة مئوية)  الصومال  2011   NaN    NaN
2  الإنفاق العام على التعليم (كنسبة مئوية من إجمالي الإنفاق الحكومي)  (نسبة مئوية)  الصومال  2012   NaN    NaN

processing sheet Education_6
years columns: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
finished processing
                                                                           المؤشر   الدولة  Year Value Source
0  الإنفاق العام على التعليم (كنسبة مئوية من الناتج المحلي الإجمالي) (نسبة مئوية)  الصومال  2010    44      y
1  الإنفاق العام على التعليم (كنسبة مئوية من الناتج المحلي الإجمالي) (نسبة مئوية)  الصومال  2011   NaN    NaN
2  الإنفاق العام على التعليم (كنسبة مئوية من الناتج المحلي الإجمالي) (نسبة مئوية)  الصومال  2012   NaN    NaN

### create a dictionary for translation

In [6]:
df_en=pd.read_excel('C:/Users/511232/Desktop/DSS/Consolidated questionnaires/codes/consolidated_data_en.xlsx')
df_ar=pd.read_excel('C:/Users/511232/Desktop/DSS/Consolidated questionnaires/codes/consolidated_data_ar.xlsx')
df_ar_translated=df_ar.copy()

In [7]:
translation_df=pd.read_excel('translation dict.xlsx')
translation_df.head(2)

      col_en                                               val_en  col_ar                                                                  val_ar
0  Indicator    Net enrolment rate in primary education (percent)  المؤشر  معدل الإلتحاق الصافي في مرحلة التعليم الإبتدائي (الأساسي) (نسبة مئوية)
1  Indicator  Net enrolment rate in secondary education (percent)  المؤشر              معدل الإلتحاق الصافي في مرحلة التعليم الثانوي (نسبة مئوية)

In [15]:
#create dictionaries for columns names
col_dict_en_ar=dict(zip(translation_df['col_en'].unique(),translation_df['col_ar'].unique()))
col_dict_ar_en={v:k for k,v in col_dict_en_ar.items()}

In [16]:
#create dictionaries for english to arabic and arabic to english lables for columns
labels_dict_en_ar=translation_df.groupby(['col_en']).apply(lambda x: dict(zip(x['val_en'],x['val_ar']))).to_dict()
labels_dict_ar_en=translation_df.groupby(['col_ar']).apply(lambda x: dict(zip(x['val_ar'],x['val_en']))).to_dict()

C:\Users\511232\AppData\Local\Temp\ipykernel_4264\2957494901.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  labels_dict_en_ar=translation_df.groupby(['col_en']).apply(lambda x: dict(zip(x['val_en'],x['val_ar']))).to_dict()
C:\Users\511232\AppData\Local\Temp\ipykernel_4264\2957494901.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  labels_dict_ar_en=translation_df.groupby(['col_ar']).apply(lambda x: dict(zip(x['val_ar'],x['val_en']))).to_dict()

### translate arabic to english

In [17]:
df_ar.head(2)

                                                                   المؤشر   الدولة                        المواطنة  الجنس  Year  Value Source القطاع المرحلة التعليمية
0  معدل الإلتحاق الصافي في مرحلة التعليم الإبتدائي (الأساسي) (نسبة مئوية)  الصومال  مجموع المواطنين وغير المواطنين   ذكور  2010    1.0      a    NaN               NaN
1  معدل الإلتحاق الصافي في مرحلة التعليم الإبتدائي (الأساسي) (نسبة مئوية)  الصومال  مجموع المواطنين وغير المواطنين   إناث  2010    1.0      a    NaN               NaN

In [19]:
df_ar_translated=df_ar.copy()

#translate the values from arabic to english
for col in labels_dict_ar_en.keys():
        try:
                df_ar_translated[col] = df_ar_translated[col].map(labels_dict_ar_en[col])
        except:
                print(f'column {col} not in the dataframe columns ')

#rename columns to english
df_ar_translated = df_ar_translated.rename(columns=col_dict_ar_en)

column السنة not in the dataframe columns
column العدد not in the dataframe columns
column المصدر not in the dataframe columns

In [20]:
df_ar_translated.head(2)

                                           Indicator  Country        Nationality   Sex  Year  Value Source Sector Education level
0  Net enrolment rate in primary education (percent)  Somalia  Nationality Total  Male  2010    1.0      a    NaN             NaN
1  Net enrolment rate in primary education (percent)  Somalia  Nationality Total   NaN  2010    1.0      a    NaN             NaN

In [27]:
for col in df_ar_translated.columns.difference(['Year', 'Value', 'Source']):
    print(df_ar_translated[col].unique(),'\n')

['Somalia']

[nan 'Primary' 'Preparatory' 'Secondary' 'Tertiary' 'All levels']

['Net enrolment rate in primary education (percent)'
 'Net enrolment rate in secondary education (percent)'
 'Pupil-teacher ratio (percent)' 'Adult literacy rates'
 'Youth literacy rates'
 'Expenditure on education as a percentage of total government expenditure  (percent)'
 'Government expenditure on education as a percentage of GDP (percent)']

['Nationality Total' 'Nationals' 'Non-nationals' nan]

[nan 'Public' 'Private' 'Sector Total']

['Male' nan 'Both sexes']

#### check schema with pandera and rapidfuzz to match with possible different column names

In [40]:
import pandas as pd
from rapidfuzz import process
import pandera as pa
from pandera import Column, DataFrameSchema, Check
from pandera.errors import SchemaError
from textwrap import fill

In [92]:
STANDARD_SCHEMA = {
'Indicator': ['indicator','Ind','مؤشر','المؤشر'],
'Country': ['الدولة','البلد','country'],
'Nationality': ['المواطنة','المواطنية','nationality','nationalities'],
'Sex': ['sex','gender','الجنس'],
'Year': ['year','time','Time','سنة','السنة'],
'Value': ['value','number','Number','الرقم','عدد', 'العدد'],
'Comments': ['comments','notes','ملاحظة','المصدر','Source'],
'Sector': ['sector','القطاع'],
'Education level': ['edu level','Education_level','المرحلة التعليمية','التعليم']
}

In [93]:
#map columns to col names using fuzzy match
col_names = {}
for col, aliases in STANDARD_SCHEMA.items():

    match, score, _ = process.extractOne(col, df_ar_translated.columns.tolist() + aliases)
    
    if score > 80:
        print(f'{match} has a score of {score} for column {col}')
        col_names[match] = col

#rename column names according to schema
df_ar_translated=df_ar_translated.rename(col_names)

df_ar_translated.columns

Indicator has a score of 100.0 for column Indicator
Country has a score of 100.0 for column Country
Nationality has a score of 100.0 for column Nationality
Sex has a score of 100.0 for column Sex
Year has a score of 100.0 for column Year
Value has a score of 100.0 for column Value
comments has a score of 87.5 for column Comments
Sector has a score of 100.0 for column Sector
Education level has a score of 100.0 for column Education level

Index(['Indicator', 'Country', 'Nationality', 'Sex', 'Year', 'Value', 'Source', 'Sector', 'Education level'], dtype='object')

#### validate the dataframe column labels

In [94]:
df_ar_translated.dtypes

Indicator           object
Country             object
Nationality         object
Sex                 object
Year                 int64
Value              float64
Source              object
Sector              object
Education level     object
dtype: object

In [28]:
translation_df=pd.read_excel('translation dict.xlsx')
translation_df.head(2)

      col_en                                               val_en  col_ar                                                                  val_ar
0  Indicator    Net enrolment rate in primary education (percent)  المؤشر  معدل الإلتحاق الصافي في مرحلة التعليم الإبتدائي (الأساسي) (نسبة مئوية)
1  Indicator  Net enrolment rate in secondary education (percent)  المؤشر              معدل الإلتحاق الصافي في مرحلة التعليم الثانوي (نسبة مئوية)

In [38]:
list(translation_df.loc[translation_df['col_en']=='Education level', 'val_en'].unique())

['Primary', 'Preparatory', 'Secondary', 'Tertiary', 'All levels']

In [43]:
allowed_indicator_values=list(translation_df.loc[translation_df['col_en']=='Indicator', 'val_en'].unique())
allowed_country_values=list(translation_df.loc[translation_df['col_en']=='Country', 'val_en'].unique())
allowed_nationality_values=list(translation_df.loc[translation_df['col_en']=='Nationality', 'val_en'].unique())
allowed_sex_values=list(translation_df.loc[translation_df['col_en']=='Sex', 'val_en'].unique())
allowed_year_values=[2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024]
allowed_sector_values=list(translation_df.loc[translation_df['col_en']=='Sector', 'val_en'].unique())
allowed_edulevel_values=list(translation_df.loc[translation_df['col_en']=='Education level', 'val_en'].unique())

#define schema
schema = DataFrameSchema({
    'Indicator': Column(str, checks=Check.isin(allowed_indicator_values)),
    'Country': Column(str, checks=Check.isin(allowed_country_values)),
    'Nationality': Column(str, checks=Check.isin(allowed_nationality_values),nullable=True),
    'Sex': Column(str, checks=Check.isin(allowed_sex_values),nullable=True),
    'Year': Column(int, checks=Check.isin(allowed_year_values)),
    'Sector': Column(str, checks=Check.isin(allowed_sector_values),nullable=True),
    'Education level': Column(str, checks=Check.isin(allowed_edulevel_values),nullable=True)     
})

#validate the dataframe
try:
    validated_df = schema.validate(df_ar_translated)
except SchemaError as err:
    wrapped_error = fill(str(err.args), width=150)
    print(wrapped_error)

("Column 'Indicator' failed element-wise validator number 0: isin(['Net enrolment rate in primary education (percent)', 'Net enrolment rate in
secondary education (percent)', 'Pupil-teacher ratio (percent)', 'Adult literacy rates', 'Youth literacy rates', 'Expenditure on education as a
percentage of total government expenditure  (percent)', 'Government expenditure on education as a percentage of GDP (percent)']) failure cases: wrong
ind",)

In [42]:
df_ar_translated.loc[0,'Indicator']='wrong ind'
df_ar_translated.head()

                                           Indicator  Country        Nationality         Sex  Year  Value Source Sector Education level
0                                          wrong ind  Somalia  Nationality Total        Male  2010    1.0      a    NaN             NaN
1  Net enrolment rate in primary education (percent)  Somalia  Nationality Total         NaN  2010    1.0      a    NaN             NaN
2  Net enrolment rate in primary education (percent)  Somalia  Nationality Total  Both sexes  2010    1.0      a    NaN             NaN
3  Net enrolment rate in primary education (percent)  Somalia          Nationals        Male  2010    1.0      a    NaN             NaN
4  Net enrolment rate in primary education (percent)  Somalia          Nationals         NaN  2010    1.0      a    NaN             NaN